aioredis==1.3.1
alembic==1.7.6
amqp==5.1.1
aniso8601==9.0.1
antiorm==1.2.1
APScheduler==3.9.1
asgiref==3.5.2
async-timeout==3.0.1
attrs==21.4.0
autobahn==22.5.1
Automat==20.2.0
backports.zoneinfo==0.2.1
betterpath==0.2.2
billiard==3.6.4.0
blinker==1.4
cached-property==1.5.2
celery==5.2.6
celery-stubs==0.1.2
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.4.0
charset-normalizer==2.0.12
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
constantly==15.1.0
construct==2.5.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.0
cycler==0.11.0
daphne==3.0.2
db==0.1.1
Deprecated==1.2.13
Django==2.2.7
django-apscheduler==0.6.2
django-celery-beat==2.2.1
django-cors-headers==3.10.1
django-elasticsearch-dsl==0.5.1
django-haystack==3.1.1
django-redis==5.2.0
django-rest-framework==0.1.0
django-timezone-field==4.2.3
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
djangorestframework-stubs==1.6.0
dnspython==1.16.0
drf-haystack==1.8.6
drf-yasg2==1.19.4
elastic-transport==8.1.2
elasticsearch==8.2.0
et-xmlfile==1.1.0
eventlet==0.26.1
fire==0.4.0
Flask==1.1.2
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-MySQLdb==1.0.1
flask-paginate==2022.1.8
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
flask-whooshalchemyplus==0.7.6
fonttools==4.37.4
future==0.18.2
greenlet==1.1.2
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
incremental==21.3.0
inflection==0.5.1
ipaddress==1.0.23
itsdangerous==2.0.1
itypes==1.2.0
jieba==0.42.1
Jinja2==3.1.2
kiwisolver==1.4.4
kombu==5.2.4
l==0.11.0
limit==0.2.3
lxml==4.9.1
Mako==1.1.6
MarkupSafe==2.0.1
marsha==0.2.4
matplotlib==3.5.3
monotonic==1.6
msgpack==1.0.4
MyApplication==0.1.0
mysql==0.0.3
mysqlclient==2.1.0
numpy==1.21.6
opencv-python==4.6.0.66
openpyxl==3.0.10
packaging==21.3
pandas==1.1.5
pdf2docx==0.5.6
pdfminer==20191125
pefile==2022.5.30
pika==1.3.0
Pillow==9.0.1
prompt-toolkit==3.0.29
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
pycryptodomex==3.9.4
PyJWT==1.7.1
PyMuPDF==1.20.2
PyMySQL==1.0.2
pyOpenSSL==19.1.0
pyparsing==3.0.9
python-alipay-sdk==3.0.4
python-crontab==2.6.0
python-dateutil==2.8.2
python-docx==0.8.11
python-ptrace==0.9.8
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywifi==1.1.12
qiniu==7.5.0
redis==3.5.3
requests==2.27.1
ronglian-sms-sdk==1.0.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
service-identity==21.1.0
six==1.16.0
SQLAlchemy==1.3.24
sqlparse==0.4.2
termcolor==2.0.1
toml==0.10.2
Twisted==22.4.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing-extensions==4.0.1
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.8
vcversioner==2.16.0.0
vine==5.0.0
wcwidth==0.2.5
Werkzeug==0.15.4
Whoosh==2.7.4
wrapt==1.13.3
xlrd==1.2.0
XlsxWriter==3.0.3
zipp==3.6.0
zope.interface==5.4.0
